* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}
@mixin flex($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

