* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}
@mixin flex($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

main {
  .hero {
    width: 100%;
    padding: 5rem 0rem;
    background: linear-gradient(35deg, #fcdde8, #f3fcff 60%);
    .container1 {
      text-align: center;
      margin: 0rem 1.5rem;
      .top {
        width: 100%;
        @include flex(3rem);
        flex-direction: column-reverse;
     
        

        .headhero {
          text-align: center;
          h1 {
            margin: 0px auto;

            line-height: 1;
            font-size: 2.7rem;
          }
        }

        img {
          width: 100%;
        }
      }
      #details {
        margin: 7rem 0rem 2.5rem;
        font-weight: 400;
      }
    }
  }
  .view1{
    padding: 4rem 0rem;
    .container2{
      @include flex(2rem);
      margin: 0rem 1.5rem;
      .detailsboxes{
        border-top: 6px solid #e8eaed;
        padding: 2rem 2rem 0rem 0rem ;
        h1{
          font-size: 1.5rem;
        font-weight: 700;
        margin-top: 1rem;
        }
        h3{
          font-weight: 400;
          font-size: 1.125rem;
          margin-top:1rem ;
        }
        img{
          width: 100%;
          margin-top: 3rem;
        }
      }
    }
  }
}


@media (min-width: 900px){

  main{
    .hero{

      .container1{
        margin: 0 3rem;
        .top{
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;

          .headhero{
         
            text-align: left;
          
            
            h1{
              font-size: 4.3rem;
              font-weight: 700;
              
              margin: 0rem 4rem 0rem 6rem   ;
            }
          }
          img{
            width: 50%;
          }
        }
         #details{
          margin: 2rem 2rem 4rem 4rem ;
          
         }
      }
    }
    .view1{
      .container2{
        flex-direction: row;
        margin: 0rem 10rem;
        .detailsboxes{
          padding: 3rem 3rem 0rem 0rem ;
          h1{
            font-size: 2rem;
          }
          h3{
            font-size: 1.225rem;
          }
        }
      }
    }
  }
}