* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
}


h1{
    color: transparent;
    font-size: 200px;
    background: linear-gradient(red, blue);
    background-clip: text;
    -webkit-text-stroke: 2px white;
}

