*{ 
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
    width: 100%;
height:100%;
}


@import "button";

@mixin flexcenter(){
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    width: 100%;
    height: 100%;
    @include flexcenter();
    background-color: black;

     section{
    width: 50%;
    height: 50%;
    @include flexcenter();
    background-color: white;

    h1{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
}
}



.blue{
    @include button-style(blue)

}

.red{
    @include button-style(red)
}





